<div class="page-container">
    
      <div class="page-header">
   <div>
      <h1> Zero -  0  </h1>
      <h3>( Nothing / Empty )</h3>
   </div>   
</div>
<mat-tab-group>

    <mat-tab label="Zero Demonstration">
        <mat-card>
            <div class="example-container">
            
              <mat-card id="box1">
              <h2>Box - 1 </h2>
                <div
                  cdkDropList
                  cdkDropListOrientation="horizontal"
                  #todoList1="cdkDropList"
                  [cdkDropListData]="todo"
                  [cdkDropListConnectedTo]="[doneList1]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of todo" cdkDrag>
                      <mat-icon class="flowers">filter_vintage</mat-icon>
                  </div>
                  
                </div>
                <div class="item-count">
                    <h2 *ngIf="todo.length != 0" >{{todo.length}}   </h2>
                    <h2  *ngIf="todo.length === 0" class="highlight">{{todo.length}}   </h2>
                      </div>
                    </mat-card>
              </div>
            
              
              <div class="example-container">
                <mat-card id="box2">
                <h2>Box - 2</h2>
                
                <div
                  cdkDropList
                  cdkDropListOrientation="horizontal"
                  #doneList1="cdkDropList"
                  [cdkDropListData]="done"
                  [cdkDropListConnectedTo]="[todoList1]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of done" cdkDrag>
                      <mat-icon class="flowers">filter_vintage</mat-icon>
                  </div>
                </div>
                <div class="item-count">
                    <h2 *ngIf="done.length != 0" >{{done.length}}   </h2>
                    <h2  *ngIf="done.length === 0" class="highlight">{{done.length}}   </h2>
                      </div>
                    </mat-card>
              </div>
      
      
        </mat-card>
    </mat-tab>
    <mat-tab label="Practice"> 
          <mat-card>
              <h3 id="practise-header" >Make <span style="font-size:32px">Box -  {{targetBox}}</span> to have      0 smiley's</h3>
            <div id="buttons">
                <button mat-raised-button  style="background-color:lightgreen" (click)="checkResult()" > Check Answer </button>
                <button mat-raised-button style="background-color:tomato"  (click)="randomize()"> Reset  </button>
            </div>
            <div class="practise-wrapper">
              <div class="practise-container">
              
                <mat-card id="box1">
                <h2>Box - 1 </h2>
                  
                  <div
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="box1"
                    [cdkDropListConnectedTo]="[doneList]"
                    class="practise-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="practise-box" *ngFor="let item of box1" cdkDrag>
                        <mat-icon class="emoji">insert_emoticon</mat-icon>
                    </div>
                    
                    
                  </div>
                  <div class="correction">
                  <p *ngIf="this.box1Right"><mat-icon style="color:green;font-size: 34px">done_outline</mat-icon> Right Answer  </p>  
                  <p *ngIf="this.box1Wrong"><mat-icon style="color:red;font-size: 34px">new_releases</mat-icon> Wrong Answer -  {{box1.length}} </p>  
                  </div>
                      </mat-card>
                </div>
                <div class="practise-container">
                  <mat-card id="box2">
                  <h2>Box - 2</h2>
                  
                  <div
                    cdkDropList
                    cdkDropListOrientation="horizontal"
                    #doneList="cdkDropList"
                    [cdkDropListData]="box2"
                    [cdkDropListConnectedTo]="[todoList]"
                    class="practise-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="practise-box" *ngFor="let item of box2" cdkDrag>
                        <mat-icon class="emoji">insert_emoticon</mat-icon>
                    </div>
                   </div>
                   <div class="correction">
                      <p *ngIf="this.box2Right"><mat-icon style="color:green;font-size: 34px">done_outline</mat-icon> Right Answer  </p>  
                      <p *ngIf="this.box2Wrong"><mat-icon style="color:red;font-size: 34px">new_releases</mat-icon> Wrong Answer -  {{box1.length}} </p>  
                      </div>
                      </mat-card>
                </div>
      
              </div>

          </mat-card>    
          
          
          
    </mat-tab>
  </mat-tab-group>

   
</div>