<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <a routerLink="" routerLinkActive="active">
  <button mat-menu-item>

    <mat-icon>home</mat-icon>
    <span>Home</span>
  
  </button>
</a>
<a routerLink="math" routerLinkActive="active">
<button mat-menu-item >
    <mat-icon>exposure</mat-icon>
    <span>Math</span>
      </button>
</a>
<a routerLink="english" routerLinkActive="active">
  <button mat-menu-item>
    <mat-icon>sort_by_alpha</mat-icon>
    <span>English</span>
  </button>
</a>

</mat-menu>
<router-outlet></router-outlet>
