.page-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 400px;
    border: 2px solid black;
    border-radius: 8px;
}

.left , .right, .middle{
    display: felx;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icons-holder{
    display: grid;
    grid-template-rows:60px;
    grid-template-columns:20% 20% 20% 20% 20%;
    height: 18em;
    width:98%;
    border:2px solid black;
    border-radius: 8px;
    overflow: auto;
    text-align: center;
    justify-content: space-evenly;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}